

<nav class="navbar">

    <div class="navbar-left">

        <button
            class="menu-btn"
            onclick="toggleSidebar()"
        >
            ☰
        </button>

        <h1 class="logo">

            Bebidas & Abarrotes S.A

        </h1>

    </div>

    <div class="navbar-right">

        <span
            id="usuarioLogueado"
            class="usuario-texto"
        >

            Usuario

        </span>

        <button
            class="logout-btn"
            onclick="logout()"
        >

            Salir

        </button>

    </div>

</nav>

